.burger {
    width: 35px;
    height: 40px;
    border: 0;
    border-top: 5px solid #fff;
    background: transparent;
    position: absolute;
    right: 5%;
    top: 15px;
    transition: .3s transform linear;
    z-index: 3;
    cursor: pointer;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 5px solid #fff;
        transform: translateY(10px);
    }
    &::after {
        transform: translateY(25px);
        transition: .3s transform linear;
    }
    &.active {
        position: fixed;
        transform: rotate(45deg) translateY(5px);
        border: none;
        &::after {
            transform: rotate(-90deg) translateX(-10px)
        }
    }
    @media (min-width: 750px) {
        display: none;
    }
}