.menu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    background-color: #242e6c;
    text-align: center;
    transform: translateX(100vw);
    height: 100%;
    top: 0;
    transition: .35s all linear;
    line-height: 10vh;
    font-size: 25px;
    z-index: 2;
    @media (min-width: 750px) {
        position: relative;
        font-size: 16px;
        height: 15vh;
        line-height: 100%;
        transform: translateX(0)
    }
    ul {
        position: absolute;
        top: 20%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (min-width: 750px) {
            padding: 5px;
            flex-direction: row;
            width: 100%;
            height: 100%;
        }
        li {
            height: 100%;
            text-align: center;
            margin: 10px 0;
            @media (min-width: 750px) {
                height: 50%;
                padding: 15px 0;
                transition: .25s linear;
                display: flex;
                align-items: center;
                font-weight: bold;
                justify-content: center;
                margin: 0 10px;
                width: 15vw;
                background-color: black;
                cursor: pointer;
                &:hover {
                    background-color: rgb(255, 0, 0);
                }
                &.active {
                    background-color: rgb(255, 0, 0);
                }
            }
            &:first-of-type {
                margin-top: 0;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                width: 100%;
                height: 200%;
            }
        }
    }
    &.active {
        transform: translateX(0)
    }
}